.header {
   height: 90px;
   width: 100%;
   overflow: hidden;

   &:after {
    background-color: $shine;
    content: '';
    height: 90px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    grid-column: 2/12;
    height: 90px;
    margin: 0 auto;
    width: 100%;
  }

  &__logo {
    height: 50px;
    width: 107px;
    margin-right: 20px;

    img {
      height: 50px;
    }
  }
}