.products {
  &__container {
    border-radius: 5px;
    background-color: $white;
    grid-column: 2/12;
    padding: 16px;
  }

  &__element {
    align-items: start;
    display: flex;
    flex-direction: row;
    position: relative;

    &::after {
      background-color: $ashes;
      bottom: 0;
      content: '';
      height: 1px;
      left: 30px;
      position: absolute;
      transform: translate(0, 16px);
      width: calc(100% - 60px);
    }
  }

  &__body {
    margin-top: 16px;
  }

  &__price {
    @include font-type($font-family-light, 20px, $base-font-size-xl);
    margin-bottom: 32px;
  }

  &__text {
    @include font-type($font-family-light, 20px, $base-font-size-xl);
  }

  &__image {
    border-radius: 10px;
    height: 180px;
    margin: 0 16px;
    overflow: hidden;
    width: 180px;

    img {
      height: 100%;
    }
  }
}