.search {
  background-color: $white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;

  &__input {
    @include font-type($font-family-light, $base-font-size-xl, 20px);

    background: transparent;
    border: none;
    box-sizing: border-box;
    height: 50px;
    padding: 20px;
    width: 100%;
  }

  &__cta {
    background-color: $ashes;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 94px;

    img {
      width: 25px;
    }

    &:disabled {
      cursor: initial;
      
      img {
        opacity: .4;
      }
    }
  }
}